//- 
  Halloween (Game)
  Grant Jenkins, November 2020
  @cpc-happy-halloween, @codepenchallenge
  
  Check out my other Khan Academy projects here:
  https://www.khanacademy.org/profile/grantjenkins/projects

  Game based of:
  https://www.google.com/doodles/halloween-2018

canvas#canvas
script(src="https://cdn.jsdelivr.net/processing.js/1.4.8/processing.min.js")